<nav class="navbar">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Title</a>
    </div>
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" active>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" active>About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" active>Contact Us</a>
            </li>
        </ul>
    </div>
</nav>
